<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>注册</title>
</head>
<body>
<table border="0px;" width="700" align="center" cellpadding="10" cellspacing="0">
<form action="{% url 'registe' %}" method="post">
    {% csrf_token %}
    <tr><td align="center">
        <h2>欢迎使用小逗读书</h2>
    </td></tr>
    <tr><td align="center">
        用户名：<input type="text" name="username">
    </td></tr>
    <tr><td align="center">
        密码:<input type="password" name="userpass">
    </td></tr>
    <tr><td align="center">
        确认密码:<input type="password" name="confirmpass">
    </td></tr>
    <tr><td align="center">
        邮箱:<input type="email" name="uemail">
    </td></tr>
    <tr><td align="center">
        <input type="submit" value="注册">
    </td></tr>
    <h1>{{ msg }}</h1>
</form>
</table>
</body>
</html>